---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    {% if not page.data.excludeFromSitemap and page.url %}
    <url>
      <loc>{{ site.url }}{{ page.url }}</loc>
      <lastmod>{{ page.date.toISOString() if page.date.toISOString else page.date }}</lastmod>
      <changefreq>{% if page.url == '/' %}daily{% else %}weekly{% endif %}</changefreq>
      <priority>{% if page.url == '/' %}1.0{% else %}0.8{% endif %}</priority>
    </url>
    {% endif %}
  {% endfor %}
</urlset>
